body{
  background-color: #f0fffe;
  font-family: sans-serif;
  height: 100vh;
  align-content: center;
}

#wrap {
  max-width: 600px;
  margin: 15px auto;
  padding: 20px;
  background-color: #d2f8ffcd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#punkt {
  color: #243547;
  margin: auto;
}

#question {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#foska {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40% auto;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin-bottom   : 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1fac31;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1b7540a8;
}

#feedback {
  margin-top: 20px;
  font-size: 18px;
}

#helpButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background-color: #167be7a9;
  color: rgb(220, 247, 247);
  border: none;
  padding: 0px;
  border-radius: 50%;
  cursor: pointer; 
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}

#helpButton:hover {
  background-color: #1368c3;
}

#buttonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  max-width: 600px;
  padding: 10px;
  display: none;
  justify-self: center;
  border: 0;
  width: 90%;
  height: 90%;

  pointer-events: none;
}

#divmap {
  display: none;
  max-width: 600px;
  height: 35%;
  margin: 15px auto;
  padding: 10px;
  background-color: #d2f8ffcd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #afdee2;
  margin: 10% auto;
  padding: 20px;
  border-radius: 39px;
  max-width: 800px;
  box-shadow: 0 5px 20px rgb(0, 0, 0);
}

#helpList {
  margin: 3px;
  padding-left: 10px;
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: rgb(148, 2, 2);
  padding: 8px;
}
